<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
  <title>Getting Started: Serving Web Content</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css">
</head>
<body>
<header>
  <div th:fragment="header">
    <div
        class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">

      <th:block th:if="${username}">
        <h5 class="my-0 mr-md-auto font-weight-normal" th:text="'Hello, ' + ${username}"></h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="/">Main page</a>
          <a class="p-2 text-dark" href="/blog">Blog</a>
          <a class="p-2 text-dark" th:href="'/profile/' + ${userId}">Profile</a>

          <form th:action="@{/logout}" method="post">
            <input type="submit" class="p-2 text-dark" value="Logout"/>
          </form>
        </nav>
      </th:block>

      <th:block th:unless="${username}">
        <h5 class="my-0 mr-md-auto font-weight-normal" th:text="'Hello stranger'"></h5>
        <nav class="my-2 my-md-0 mr-md-3">
          <a class="p-2 text-dark" href="/">Main page</a>
          <a class="p-2 text-dark" href="/blog">Blog</a>
          <a class="p-2 text-dark" href="/about">About</a>

          <form th:action="@{/login}" method="get">
            <input type="submit" class="p-2 text-dark" value="Login"/>
          </form>
        </nav>
      </th:block>
    </div>
  </div>
</header>

<form th:action="'/profile'" method="post">
  <div><label> Bicycle name : <input type="text" name="name"/></label></div>
  <div><label> Price : <input type="text" name="price"/> </label></div>
  <div><label> Photo : <input type="file" name="photo"/> </label></div>
  <input type="submit" class="btn btn-outline-primary" value="Update information"/>
</form>
</body>
</html>